<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  	<title>JumpstartLab – We Build Developers</title>
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="stylesheet" href="/css/styles.css">
  	<link href="webfonts/ss-social.css" rel="stylesheet" />
  	<link href="webfonts/ss-standard.css" rel="stylesheet" />
  	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/tpn0qjo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div class="wrapper">
      <div id="header">
        <div id="logo">
          <a href="/"><img alt="Jumpstart Lab" src="/images/logo-bw.png"></a>
		    </div>
        <ul id="nav">
          <li><a href="news">News</a></li>
          <li><a href="courses">Courses</a></li>
          <li><a href="http://tutorials.jumpstartlab.com">Tutorials</a></li>
          <li class="active"><a href="team">Team</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="main">

      <div class="wrapper">
        <h1>Our Team</h1>

        <div class="section">
          <p>JumpstartLab is a small team passionate about technical education.</p>

          <ul class="thumb-nav">
            <% Team.all.each do |member| %>
              <li>
                <a href="#<%= member.nickname %>">
                  <%= image_tag member.image_url %>
                </a>
              </li>
            <% end %>
          </ul>

          <ul class="team">
            <% Team.all.each do |member| %>
              <%= partial :team_member, locals: { member: member }%>
            <% end %>
          </ul>

        </div>

        <%= partial :aside %>
      </div>

      <%= partial :footer %>
  </body>
</html>